@model Waste_Manager.Models.Cleanup_providers

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cleanup_providers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Companyname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Companyname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.locality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.locality)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cleanid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
